@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #2b9e76;
}

.text-primary {
  color: #2b9e76;
}

.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.scrollable-div {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) rgba(255, 255, 255, 0.5);
}

/* Define scrollbar track */
.scrollable-div::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
}

/* Define scrollbar thumb */
.scrollable-div::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 6px;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

/* Define scrollbar thumb on hover */
.scrollable-div::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}
