@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #2b9e76;
}

.text-primary {
  color: #2b9e76;
}

.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
